p {
    color:green;
}

h2{
    /* color: red; */
}
body {
    font-size: 3vw;
}
.thumbnail_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thumbnail{
    width: 100%;
}
.highlight{
    /* border: solid;     */
    text-align: center;
}
#id{
    /* font-size: 18px; */
    font-size: 6vw;
    font-weight: 100;
}
#profile{
    /* border: solid;
    border-color: blue; */
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
#profile_info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* height: 50px; */
    height: 15vw;
}

#stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    margin-bottom: 5px;
    margin-top: 5px;
}
.stat{
    text-align: center;
}
.circle_pic{
    border: solid white 1px;
    border-radius: 50%;

    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile_pic{
    /* width: 35px;
    height: 35px; */
    width: 15vw;
    height: 15vw;
}
.highlight_pic{
    /* width: 35px;
    height: 35px; */

    width: 10vw;
    height: 10vw;

    margin-left: auto;
    margin-right: auto;
}
#highlight_area{
    display: grid;
    /* grid-template-columns: 45px 45px 1fr; */
    grid-template-columns: 12vw 12vw 1fr;
}
button{
    height: 80%;
    width: 95%;

    /* font-size: 10px; */
    font-size: 3vw;
    background-color: white;
    border: solid gray 1px;
    border-radius: 3px;
}
#top{
    display: grid;
    grid-template-columns: 4fr 7fr 5fr;
    height: 10vw;
    min-height: 10vw;
    border-bottom: solid gray 0.1px;
    margin-bottom: 3vw;
    /* height: 30px; */
}
/* #top{
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    height: 30px;

    border-bottom: solid gray 0.1px;
    margin-bottom: 10px;
} */
#top img{
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    object-fit: contain;
}

#top input {
    height: 60%;
    width: 95%;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
    background-color: rgb(250, 250, 250);

    border: solid gray 1px;
    border-radius: 3px;

    /* font-size: 10px; */
    font-size: 3vw;
    font-weight: 100;
}
 

i{
    /* font-size: 20px; */
    /* color: purple; */
    color: gray;
}
#top i{
    /* font-size: 14px; */
    font-size: 4vw;
}
#top div{
    text-align: center;
    /* padding-top: 6px; */
    padding-top: 3vw;
}
.search_icon{
    font-size: 40px;
    color: purple;
}
#sub_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 5vw;
    height: 8vw;
    /* font-size: 15px;
    height: 30px; */
}
.selected{
    border-bottom: solid gray 3px;
}